<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.alex.f5voice</string>
	<key>ProgramArguments</key>
	<array>
		<string>@APP@/Contents/MacOS/F5Voice</string>
		<string>--service</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>F5VOICE_HOME</key>
		<string>@HOME_DIR@</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>StandardOutPath</key>
	<string>@HOME_DIR@/f5voice.log</string>
	<key>StandardErrorPath</key>
	<string>@HOME_DIR@/f5voice.log</string>
</dict>
</plist>
